<div class='row'>
  <div class='col-12 col-lg-12'>
    <div class='card flex-fill w-100'>
      <div class='card-header'>
        <h4 class='card-title'>Order per month</h4>
      <div class='card-body'>
        <div class='chart'>
          <canvas id='myChart'></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script>
    // Pass data from server to client-side script
    const labels = {{{json labels}}};
    const data = {{{json data}}};
    // Generate chart using passed data
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels ,
        datasets: [{
          label: 'Order',
          data: data,
          borderWidth: 5
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{{!-- <script src='/assets/js/admin/chart.js'></script> --}}