.profilebar-link,
a.profilebar-link {
  background: #ffffff;
  border-left: 3px solid transparent;
  color: #888888;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding: 0.625rem 1.625rem;
  position: relative;
  text-decoration: none;
  transition: background 0.1s ease-in-out;
}

.profilebar-link,
a.profilebar-link:hover {
  background: #000000;
  border-left: 3px solid transparent;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding: 0.625rem 1.625rem;
  position: relative;
  text-decoration: none;
  transition: background 0.1s ease-in-out;
}
.Add_btn {
  height: 50px;
  text-align: center;
  background: #212529;
  color: #ffffff;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
.Add_btn i {
  margin: 0 5px;
}
.Add_btn:hover {
  text-decoration: none;
  color: #69e0ff;
}
