<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
  <meta name='description' content='' />
  <meta name='author' content='' />
  <link href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap'
    rel='stylesheet' />

  <link href='/assets/css/app.css' rel='stylesheet' />
  <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap' rel='stylesheet' />
  <link rel='icon' href='/assets/images/hotel.png' />
  <title>Hotel Booking</title>

  <!-- Additional CSS Files -->
  <link rel='stylesheet' type='text/css' href='/assets/css/bootstrap.min.css' />
  <link rel='stylesheet' type='text/css' href='/assets/css/style.css' />

  <link rel='stylesheet' type='text/css' href='/assets/css/font-awesome.css' />

  <link rel='stylesheet' href='/assets/css/templatemo-hexashop.css' />

  <link rel='stylesheet' href='/assets/css/owl-carousel.css' />

  <link rel='stylesheet' href='/assets/css/lightbox.css' />
  <!--
-->
</head>

<body>
  <!-- ***** Preloader Start ***** -->
  <div id='preloader'>
    <div class='jumper'>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class='header-area header-sticky'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <nav class='main-nav'>
            <!-- ***** Logo Start ***** -->
            <a href='index.html' class='logo' style='margin-top: 20px ;'>
              <img src='/assets/images/logo.png' />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class='nav'>
              {{#if username}}
              <li class='scroll-to-section'><a href='/room'>Room</a></li>
              <li class='scroll-to-section'><a href='/booking/order/{{username}}'>Order</a></li>
              <li class='scroll-to-section'><a href='/user/profile'>Profile</a></li>
              {{#if role}}
              <li class='scroll-to-section'><a href='/admin'>Admin</a></li>
              {{/if}}
              <li class='scroll-to-section'><a href='/user/logout'>Log Out</a></li>
              {{else}}
              <li><a href='/user/login'>Sign in</a></li>
              <li><a href='/user/register'>Sign up</a></li>
              {{/if}}
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  {{{body}}}

  <footer>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-4'>
          <div class='first-item'>
            <h4>Address &amp Information </h4>
            <ul>
              <li>
                <a href='https://maps.app.goo.gl/HmuzshnhobwProkk9'>Address :
                  Ninh Kieu, Can Tho</a>
              </li>
              <li><a href='#'>Email: Jackscuong@gmail.com</a></li>
              <li><a href='#'>Phone : 0972913302</a></li>
            </ul>
          </div>
        </div>
        <div class='col-lg-4'>
          <h4>Menu</h4>
          <ul>
            <li><a href='/room'>Room</a></li>
            <li><a href='/user/profile'>Profile</a></li>
            <li><a href='/user/password'>Change Password</a></li>
          </ul>
        </div>
        <div class='col-lg-4'>
          <h4>Page</h4>
          <ul>
            <li><a href='/room'>Homepage</a></li>
            <li><a href='/admin'>Admin</a></li>
          </ul>
        </div>
      </div>
  </footer>

  <!-- jQuery -->
  <script src='/assets/js/jquery-2.1.0.min.js'></script>

  <!-- Bootstrap -->
  <script src='/assets/js/popper.js'></script>
  <script src='/assets/js/bootstrap.min.js'></script>

  <!-- Plugins -->
  <script src='/assets/js/owl-carousel.js'></script>
  <script src='/assets/js/accordions.js'></script>
  <script src='/assets/js/datepicker.js'></script>
  <script src='/assets/js/scrollreveal.min.js'></script>
  <script src='/assets/js/waypoints.min.js'></script>
  <script src='/assets/js/jquery.counterup.min.js'></script>
  <script src='/assets/js/imgfix.min.js'></script>
  <script src='/assets/js/slick.js'></script>
  <script src='/assets/js/lightbox.js'></script>
  <script src='/assets/js/isotope.js'></script>

  <!-- Global Init -->
  <script src='/assets/js/custom.js'></script>
  <script>
    $(function () {
      var selectedClass = ""; $("p").click(function () {
        selectedClass = $(this).attr("data-rel"); $("#portfolio").fadeTo(50, 0.1);
        $("#portfolio div").not("." + selectedClass).fadeOut();
        setTimeout(function () {
          $("." + selectedClass).fadeIn();
          $("#portfolio").fadeTo(50, 1);
        }, 500);
      });
    });
  </script>
</body>

</html>