<div class='main-banner' id='top' style='padding-bottom: 60px;'>
  <div class='container-fluid'>
    <form method='post'>
      <label>Email</label><br />
      <input type='text' name='email' /><br />
      <input type='submit' value='Submit' />
    </form>
  </div>
</div>