<div class='main-banner' id='top' style='padding-bottom: 60px;'>
  <div class='container-fluid'>
    <form method='post'>
      <label>Wellcome {{user.username}}</label><br />
      <label>Email</label><br />
      <input type='text' name='email' /><br />
      <label>Password</label><br />
      <input type='text' name='password' /><br />
      <input type='submit' value='Submit' />
    </form>
    <a href='/user/logout' class='logout-btn'>Logout</a>
  </div>
</div>