<!--<form method='post'>
  <label>Name</label><br />
  <input type='text' name='name' /><br />
  <label>Email</label><br />
  <input type='text' name='email' /><br />
  <label>Password</label><br />
  <input type='text' name='password' /><br />
  <label>Phone Number</label><br />
  <input type='text' name='phone' /><br />
  <label>Confrim</label><br />
  <input type='text' name='confrim' /><br />
  <label>Sex</label><br />
  <input type='text' name='sex' /><br />
  <label>Dob</label><br />
  <input type='date' name='dob' /><br />
  <input type='submit' value='Submit' />
</form>-->

<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-12 col-lg-6'>
      <form method='post'>
        <div class='row'>
          <div class='card'>
            <div class='card-header' style='background-color: white;'>
              <h3 class='mb-0 text-center'><strong>Login</strong></h3>
            </div>
            <div class='card-body'>
              <!-- User Name -->
              <h5 class='card-title mb-2'>User Name</h5>
              <div class='text-center mb-2'>
                <input
                  type='text'
                  name='name'
                  class='form-control'
                  placeholder='User Name'
                />
              </div>
              <!-- Email -->
              <h5 class='card-title mb-2'>Email</h5>
              <div class='text-center mb-2'>
                <input
                  type='text'
                  name='email'
                  class='form-control'
                  placeholder='Email'
                />
              </div>
              <!-- Password -->
              <h5 class='card-title mb-2'>Password</h5>
              <div class='text-center mb-2'>
                <input
                  type='text'
                  name='password'
                  class='form-control'
                  placeholder='Password'
                />
              </div>
              <!-- Phone Number -->
              <h5 class='card-title mb-2'>Phone Number</h5>
              <div class='text-center mb-2'>
                <input
                  type='text'
                  name='phone'
                  class='form-control'
                  placeholder='Phone Number'
                />
              </div>
              <!-- Phone Number -->
              <h5 class='card-title mb-2'>Confrim</h5>
              <div class='text-center mb-2'>
                <input
                  type='text'
                  name='confrim'
                  class='form-control'
                  placeholder='Confrim'
                />
              </div>
              <!-- Sex -->
              <h5 class='card-title mb-2'>Sex</h5>
              <div class='text-center mb-2'>
                <input
                  type='text'
                  name='sex'
                  class='form-control'
                  placeholder='Sex'
                />
              </div>
              <!-- Dob -->
              <h5 class='card-title mb-2'>Date Of Birth</h5>
              <div class='text-center mb-2'>
                <input
                  type='text'
                  name='date'
                  class='form-control'
                  placeholder='Date Of Birth'
                />
              </div>
              <div class='text-center'>
                <input type='submit' value='Submit' class='btn btn-secondary' />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>