<!--<form method='post'>
   <label>Wellcome {{user.username}}</label><br /> 
  <label>Email</label><br />
  <input type='text' name='email' /><br />
  <label>Password</label><br />
  <input type='text' name='password' /><br />
  <input type='submit' value='Submit' />
</form>
<a href='/user/logout' class='logout-btn'>Logout</a>-->

<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-12 col-lg-6'>
      <form method='post'>
        <div class='row'>
          <div class='card'>
            <div class='card-header' style='background-color: white;'>
              <h3 class='mb-0 text-center'><strong>Login</strong></h3>
            </div>
            <div class='card-body'>
              <h5 class='card-title mb-2'>Email</h5>
              <div class='text-center mb-4'>
                <input
                  type='text'
                  name='email'
                  class='form-control'
                  placeholder='Email'
                />
              </div>
              <h5 class='card-title mb-2'>Password</h5>
              <div class='text-center mb-4'>
                <input
                  type='text'
                  name='password'
                  class='form-control'
                  placeholder='Password'
                />
              </div>
              <div class='text-center'>
                <input type='submit' value='Submit' class='btn btn-secondary' />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>