Phi Lâm
<div class='main-banner' id='top'>
  <div class='container-fluid' style='margin: 20px 0 50px 0;'>
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-12 col-lg-6'>
          <h1>Oops!</h1>
          <h2>Something Went Wrong</h2>
          <p>We're sorry, but an error has occurred.</p>
          <p>Please try the following:</p>
          <ul>
            <li>Refresh the page.</li>
            <li>Check your internet connection.</li>
            <li>Ensure that the URL is correct.</li>
          </ul>
          <h4>If the problem persists, please contact our support team with the
            following details:</h4>
          <ul>
            <li>The URL you were trying to access.</li>
            <li>The time the error occurred.</li>
            <li>Any error messages you received.</li>
          </ul>
          <p>Thank you for your patience and understanding.</p>
          <p><a href='/room'>Return to Homepage</a></p>
        </div>
      </div>
    </div>
  </div>
</div>