<!-- ***** Main Banner Area Start ***** -->
<div class='main-banner' id='top' style='padding-bottom: 60px;'>
  <div class='container-fluid'>
    <table>
      <style>
        table, th, td { border:1px solid black; }
      </style>
      <tr>
        <th>Name</th>
      </tr>
      {{#each role}}
        <tr>
          <td>{{name}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->